<!doctype html>
<html lang="en" style="height: 87vh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>JTran Demo</title>
</head>
<body style="height: 87vh">
<div class="container" style="margin-top: 40px; margin-bottom: 30px; min-height: 87vh; height: auto !important">
    <form>
        <p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" aria-required="true">
            <label class="btn btn-secondary active">
                {% if ((dictionary == 'y') or (not dictionary)) %}
                <input type="radio" name="dictionary" id="yarxi" value="y" checked required>Yarxi
                {% else %}
                <input type="radio" name="dictionary" id="yarxi" value="y">Yarxi
                {% endif %}
            </label>
            <label class="btn btn-secondary">
                {% if (dictionary == 'w') %}
                <input type="radio" name="dictionary" id="warodai" value="w" checked required>Warodai
                {% else %}
                <input type="radio" name="dictionary" id="warodai" value="w">Warodai
                {% endif %}
            </label>
        </div>
        </p>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Слово</span>
            </div>
            <input type="text" class="form-control" name="lexeme" id="lexeme" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" required style="margin-right: 10px"
                   value="{{ lexeme }}">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default2">Чтение</span>
            </div>
            <input type="text" class="form-control" name="reading" id="reading" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default2" value="{{ reading }}">
        </div>
        <button type="submit" class="btn btn-primary" onclick="translate()">
            <span class="fas fa-search" style="margin-right: 10px"></span>Искать
        </button>
    </form>

    {% if result %}
    {% for item in result %}
    <h5 style="margin-top: 30px">{{ item.lexeme|join(' / ') }} 〖{{ item.reading|join(' / ') }}〗</h5>
    <ol>
    {% for tr in item.translation %}
    <li>{{ tr }}</li>
    {% endfor %}
    </ol>
    {% endfor %}
    {% else %}
    {% if dictionary %}
    <h5 style="margin-top: 30px">Ничего не найдено :(</h5>
    {% endif %}
    {% endif %}
</div>

<div style="text-align:center; width: 100%; margin-bottom: 30px">ktbr, 2021 | <a href="https://github.com/kateabr/jsub"><span class="fas fa-code-branch" style="margin-right: 2px"></span>GitHub</a></div>
</body>
<script>
    function translate() {
        let dictionary = '';
        if (document.getElementById("yarxi").checked) {
            dictionary = document.getElementById("yarxi").value
        } else if (document.getElementById("warodai").checked) {
            dictionary = document.getElementById("warodai").value
        }

        const lexeme = document.getElementById("lexeme").value;
        const reading = document.getElementById("reading").value;
        if (lexeme!=='') {
            window.location.replace('/?dictionary=' + dictionary + '&lexeme=' + lexeme + '&reading=' + reading);
        }

    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>